<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/output.css" />
    <title>Document</title>
  </head>
  <body class="flex content-center justify-center">
    <nav class="flex flex-row bg-[#442A5B] p-8 w-screen rounded-md">
      <div class="basis-4/15 mr-5 mr-5">
        <h2 class="font-sans font-bold text-4xl text-white">LoBall</h2>
      </div>
      <div class="flex items-center justify-center basis-2/15 text-white">
        <p class="flex justify-center items-center font-semibold">Home</p>
      </div>
      <div class="flex items-center justify-center basis-2/15 text-white">
        <p class="flex justify-center items-center font-semibold">Shop</p>
      </div>
      <div class="flex items-center justify-center basis-2/15 text-white">
        <p class="flex justify-center items-center font-semibold">Clubs</p>
      </div>
      <div class="flex basis-2/15"></div>
      <div class="flex items-center justify-center basis-1/15">
        <img
          src="/icons/search-svgrepo-com.svg"
          alt="search"
          width="32"
          height="32"
        />
      </div>
      <div class="flex items-center justify-center basis-1/15">
        <img
          src="/icons/profile-svgrepo-com.svg"
          alt="profile"
          width="32"
          height="32"
        />
      </div>
      <div class="flex items-center justify-center basis-1/15">
        <img
          src="/icons/cart-svgrepo-com.svg"
          alt="cart"
          width="32"
          height="32"
        />
      </div>
    </nav>
  </body>
</html>
