<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/output.css" />
    <title>Document</title>
  </head>
  <body class="flex flex-col content-center justify-center">
    <nav class="flex flex-row bg-[#442A5B] p-8 w-screen rounded-md">
      <div class="basis-4/15 mr-5 mr-5">
        <h2 class="font-sans font-bold text-4xl text-white">LoBall</h2>
      </div>
      <div class="flex items-center justify-center basis-2/15 text-white">
        <p class="flex justify-center items-center font-semibold">Home</p>
      </div>
      <div class="flex items-center justify-center basis-2/15 text-white">
        <p class="flex justify-center items-center font-semibold">Shop</p>
      </div>
      <div class="flex items-center justify-center basis-2/15 text-white">
        <p class="flex justify-center items-center font-semibold">Clubs</p>
      </div>
      <div class="flex basis-2/15"></div>
      <div class="flex items-center justify-center basis-1/15">
        <img
          src="/icons/search-svgrepo-com.svg"
          alt="search"
          width="32"
          height="32"
        />
      </div>
      <div class="flex items-center justify-center basis-1/15">
        <img
          src="/icons/profile-svgrepo-com.svg"
          alt="profile"
          width="32"
          height="32"
        />
      </div>
      <div class="flex items-center justify-center basis-1/15">
        <img
          src="/icons/cart-svgrepo-com.svg"
          alt="cart"
          width="32"
          height="32"
        />
      </div>
    </nav>

    <div class="flex flex-row mt-10 ml-5">
      <div class="grid grid-rows-7 mr-25">
        <div class="w-[12vw]"><h3 class="font-sans font-bold text-3xl">Marketplace</h3></div>
        <div class="w-[12vw]"><h4 class="font-sans font-semibold text-xl text-blue-400 shadow-lg">University of Alberta</h4></div>
        <div class="w-[12vw]">3</div>
        <div class="w-[12vw]">3</div>
        <div class="w-[12vw]">4</div>
        <div class="w-[12vw]">5</div>
        <div class="w-[12vw]">6</div>
        <div class="w-[12vw]">7</div>
      </div>
      <div
        id="real-spill"
        class="grid grid-cols-3 grid-rows-3 gap-4 place-self-center w-[60vw] h-[50vh]"
      >
        <div class="flex justify-end content-end col-span-2 row-span-2 rounded-md bg-[url(/images/housing.jpg)] bg-cover bg-center">
            <button class="bg-cyan-100 w-[140px] h-[45px] rounded-xl mt-4 mr-4 hover:-translate-y-0.5 hover:-translate-x-0.5 hover:shadow-lg "><p class="font-semibold">Explore Housing</p></button>
        </div>
        <div class="flex justify-end content-end bg-red-200 rounded-md bg-[url(/images/textbooks.jpg)] bg-cover bg-center">
            <button class="bg-cyan-100 w-[200px] h-[45px] rounded-xl mt-4 mr-4 hover:-translate-y-0.5 hover:-translate-x-0.5 hover:shadow-lg "><p class="font-semibold">Explore Books and Electronics</p></button>
        </div>
        <div class="flex justify-end content-end bg-red-300 rounded-md bg-[url(/images/furniture.jpg)] bg-cover bg-center">
            <button class="bg-cyan-100 w-[140px] h-[45px] rounded-xl mt-4 mr-4 hover:-translate-y-0.5 hover:-translate-x-0.5 hover:shadow-lg"><p class="font-semibold">Explore Furniture</p></button>
        </div>
        <div class="flex justify-end content-end bg-red-400 col-span-3 rounded-md bg-[url(/images/groceries.jpg)] bg-cover bg-center">
            <button class="bg-cyan-100 w-[220px] h-[45px] rounded-xl mt-4 mr-4 hover:-translate-y-0.5 hover:-translate-x-0.5 hover:shadow-lg"><p class="font-semibold">Explore Groceries and Food</p></button>
        </div>
      </div>
      <div class="font-sans font-bold text-3xl ml-25 justify-center">
        Trending Activity
      </div>
    </div>
    <div id="featured-posts">Featured Postings</div>
    <div class="grid grid-rows-5">
      <div>1</div>
      <div>2</div>
      <div>3</div>
      <div>4</div>
      <div>5</div>
    </div>
  </body>
</html>
